<h1>{{glass}} cocktails</h1>

<form>
 <input id="back-button" type="button" value="Go back!" onclick="history.back()">
</form>

<div class="cocktail-filter-list">
  <ul>

{{#each glasses}}
    <li class="drink-title">{{this.strDrink}}</li>
    <img src="{{strDrinkThumb}}" width="50px" class="image-thumbnail" alt="Cocktail Image">
    <a href="/cocktail/{{idDrink}}" class>See</a>
     <a href="/users/add-to-favorites/{{idDrink}}"><img  class="fav-button" src="/images/fav-icon.png" alt="Fav icon"></a> 

    {{/each}}
  </ul>
</div>