<ul>

    <li>Name: {{cocktail.name}}</li>
    <li>Glass type: {{cocktail.glass}}</li>
    <li>{{cocktail.alcoholic}}</li>
    <li>Ingredients: {{cocktail.ingredients}}</li>
    <li>Instructions: {{cocktail.instructions}}</li>
    <img width="80px" src="{{cocktail.imgUrl}}" alt="Cocktail Image">
    <a href="/cocktail/community/{{cocktail.id}}/edit">Edit</a>
    <a href="/cocktail/community/{{cocktail.id}}/delete">Delete</a>

</ul>