<form>
 <input id="back-button" type="button" value="Go back!" onclick="history.back()">
</form>

     <h2> {{cocktail.name}}</h2>

 <div class="cocktail-image-container">

  <img width="80px" src="{{cocktail.imgUrl}}" alt="Cocktail Image"    class="cocktail-image" />
</div>
<div class="cocktail-details-wrapper">

  <p>
    <strong>Glass type: </strong> {{cocktail.glass}}
    <br>
    <strong>{{cocktail.alcoholic}}!</strong> 
    <br>
    <strong>Ingredients:</strong>  
    <br> 
    {{cocktail.ingredients}}
    <br>
    <strong>Instructions:</strong> 
    <br> 
    {{cocktail.instructions}}

  </p>
  
    {{#if showButtons}}
     <div class="user-cocktails-buttons">
    <div class="edit-button" >
      <a href="/cocktail/community/{{cocktail.id}}/edit"><img  src="/images/edit-icon.png" alt="Edit Icon"></a>
      </div>
      <a href="/cocktail/community/{{cocktail.id}}/delete"><img  src="/images/delete-cocktail.png" alt="Delete Icon"></a>
</div>
    {{/if}}
</div>