<form>
 <input id="back-button" type="button" value="Go back!" onclick="history.back()">
</form>

<ul>
 
  <img width="80px" src="{{cocktail.imgUrl}}" alt="Cocktail Image"    class="cocktail-image" />

  <li> <strong>Name:</strong>  {{cocktail.name}}</li>
  <li> <strong>Glass type: </strong> {{cocktail.glass}}</li>
  <li> <strong>{{cocktail.alcoholic}}!</strong> </li>
  <li><strong>Ingredients:</strong>  {{cocktail.ingredients}}</li>
  <li> <strong>Instructions:</strong>  {{cocktail.instructions}}</li>

  {{#if showEdit}}
    <a href="/cocktail/community/{{cocktail.id}}/edit">Edit</a>
  {{/if}}

  {{#if showDelete}}
    <a href="/cocktail/community/{{cocktail.id}}/delete">Delete</a>
  {{/if}}
</ul>