<form>
 <input id="back-button" type="button" value="Go back!" onclick="history.back()">
</form>

<ul>
 
  <img width="80px" src="{{cocktail.imgUrl}}" alt="Cocktail Image"    class="cocktail-image" />

  <li> Name: {{cocktail.name}}</li>
  <li>Glass type: {{cocktail.glass}}</li>
  <li>{{cocktail.alcoholic}}</li>
  <li>Ingredients: {{cocktail.ingredients}}</li>
  <li>Instructions: {{cocktail.instructions}}</li>

  {{#if showEdit}}
    <a href="/cocktail/community/{{cocktail.id}}/edit">Edit</a>
  {{/if}}

  {{#if showDelete}}
    <a href="/cocktail/community/{{cocktail.id}}/delete">Delete</a>
  {{/if}}
</ul>