<h1> {{alcohol}} </h1>

<form>
 <input id="back-button" type="button" value="Go back!" onclick="history.back()">
</form>



<div class="cocktail-list-container">
  {{#each cocktails}}
 <div class="cocktail-container">
    
    <a href="/cocktail/{{idDrink}}"><img class="cocktaimImg-list" src="{{strDrinkThumb}}" alt="Cocktail Image" /></a>
    <h3>{{strDrink}}</h3>
    <a href="/users/add-to-favorites/{{idDrink}}"><button id="fav-btn"><img src="/images/fav-icon.png" width="25px" alt=""></button></a>
 </div>
  <hr>
{{/each}}
</div>


