<h1>Filter by liquor page</h1>
<ul>
    <li> <a href="/cocktail/liquor/Amaretto">Amaretto</a> </li>

    <li> <a href="/cocktail/liquor/{{alcohol}}">Bitters</a> </li>
    <li><a href="/cocktail/liquor/{{alcohol}}">Bourbon</a> </li>
    <li> <a href="/cocktail/liquor/{{alcohol}}">Brandy</a> </li>

    <li><a href="/cocktail/liquor/{{alcohol}}">Champagne</a> </li>
    <li><a href="/cocktail/liquor/{{alcohol}}">Cider</a> </li>
    <li> <a href="/cocktail/liquor/Coffee">Coffee Liquors</a> </li>
    <li><a href="/cocktail/liquor/{{alcohol}}">Cognac</a> </li>
    <li><a href="/cocktail/liquor/{{alcohol}}">Creme de Cacao</a></li>
    <li> <a href="/cocktail/liquor/{{alcohol}}">Creme de Cassis</a> </li>

    <li> <a href="/cocktail/liquor/{{alcohol}}">Dry Vermouth</a> </li>
    <li> <a href="/cocktail/liquor/{{alcohol}}">Dubonnet Rouge</a> </li>

    <li><a href="/cocktail/liquor/Fruity">Fruity Liquors</a> </li>
    
    <li> <a href="/cocktail/liquor/{{alcohol}}">Galliano</a> </li>
    <li><a href="/cocktail/liquor/{{alcohol}}">Gin</a> </li>
    <li> <a href="/cocktail/liquor/{{alcohol}}">Grenadine</a> </li>

    <li> <a href="/cocktail/liquor/{{alcohol}}">Irish Cream</a> </li>
    
    <li><a href="/cocktail/liquor/{{alcohol}}">Orange Bitters</a> </li>
    <li><a href="/cocktail/liquor/{{alcohol}}">Ouzo</a> </li>
    
    <li><a href="/cocktail/liquor/{{alcohol}}">Peppermint Schnapps</a> </li>
    <li><a href="/cocktail/liquor/{{alcohol}}">Pisco</a> </li>
    <li><a href="/cocktail/liquor/{{alcohol}}">Port</a> </li>

    <li> <a href="/cocktail/liquor/{{alcohol}}">Red Wine</a> </li>
    <li> <a href="/cocktail/liquor/{{alcohol}}">Ricard</a> </li>
    <li> <a href="/cocktail/liquor/Rums">Rums</a> </li>

    <li><a href="/cocktail/liquor/{{alcohol}}">Sambuca</a> </li>
    <li><a href="/cocktail/liquor/{{alcohol}}">Sherry</a> </li>
    <li> <a href="/cocktail/liquor/{{alcohol}}">Southern Comfort</a> </li>
    <li><a href="/cocktail/liquor/{{alcohol}}">Sweet Vermouth</a> </li>

    <li> <a href="/cocktail/liquor/{{alcohol}}">Tequila</a> </li>
    <li><a href="/cocktail/liquor/{{alcohol}}">Triple Sec</a> </li>
    
    <li><a href="/cocktail/liquor/Whiskies">Whiskeys</a> </li>
</ul>
    
    
    
    
    
    
    
    
